{
  "presets": [ "env", "stage-1", "react"],
  "plugins": [
    "styled-components",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "production": {
      "plugins": ["grommet"]
    }
  }
}
